<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    ">

	<bean id="helloId" class="fr.demos.formation.Hello">
		<property name="message" ref="messageId" />
	</bean>
	<!-- <bean id="messageId" class="fr.demos.formation.MessageImpl"> </bean> -->
	<bean id="messageId" class="fr.demos.formation.RandomMessage">
	</bean>

	<context:component-scan base-package="fr.demos.formation"></context:component-scan>

	<aop:aspectj-autoproxy />

	<bean id="performance" class="fr.demos.formation.Performance" />

	<bean id="hello" class="fr.demos.formation.Hello">
		<property name="message" ref="messageId" />
	</bean>
	<!-- <bean id="randomMes" class="fr.demos.formation.RandomMessage" /> -->

	<aop:config>
		<aop:aspect ref="performance">
			<aop:around method="tracePerf"
				pointcut="execution (* fr.demos.formation.RandomMessage.*(..)) || execution (* fr.demos.formation.Hello.*(..))" />
		</aop:aspect>
	</aop:config>


</beans>